
        <h1>This file is from love.ejs </h1>
<h1>Your params is <%= thingvar %></h1>
<% if(thingvar === "vidya"){%>
    <p>good choice Vidya is the best</p>
<% } else { %>
    <p>bad choice you should have Vidya</p>
<% } %>

